.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500 px;
    background-color: orange;
  }
  
  .banner img {
    height: 100%;
    object-fit: cover;
  }
  
  .banner-content {
    text-align: center;
    color: #333;
  }
  
  .banner-content h1 {
    font-size: 3rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner-content p {
    font-size: 1.5rem;
    margin-top: 0;
  }